.layout {
  position: relative;
  border: 1px solid #2F2F2F;
  background: #0A0B0D;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;

  &:before {
    content: "";
    inset: 23px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(90.03deg, #FF9533 7.38%, #FF0000 35.51%, #0C00FF 63.64%, #00FF00 92.62%);
    opacity: 0.25;
    filter: blur(60px);
  }
}

.closeBtn {
  position: absolute;
  right: 0;
  top: -36px;
  width: 26px;
  height: 26px;
}

.container {
  position: relative;
  z-index: 2;
  padding: 12px;
  width: 100%;
}