@import "@/styles/index.scss";

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include baseLayout();
  gap: 8px;
  padding: 0 12px;
  overflow: hidden;
  height: 100vh;
  padding-bottom: 60px;
}

.header {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}

.container {
  width: 100%;
  overflow: auto;
  padding-bottom: 24px;
  padding-top: 16px;
}

.backBtn {
  width: 36px;
  height: 36px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0%, 100%));
  gap: 24px;

  &.inline {
    grid-template-columns: 1fr;
  }
}

.imageBox {
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  aspect-ratio: 1/1;
  justify-content: center;
  object-fit: contain;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    vertical-align: bottom;
    border-radius: 12px;
  }
}

.center, .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.bottom {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.score {
  font-size: 4cqw;
}

.label {
  color: #8A8A8A;
  text-transform: uppercase;
}

.grey {
  color: #8A8A8A;
}

.profile {
  gap: 4px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: auto;

  svg {
    width: 24px;
    height: 24px;
    color: #848586;
    transition: color 150ms linear;

    &:hover {
      color: #fff;
    }
  }
}


.box {
  height: auto !important;
  aspect-ratio: unset !important;
  
  > div {
    height: auto !important; 
  }

  &.casts {
    > div {
      display: flex;
      gap: 12px;
    }
  }
}

.boxBody {
  padding-top: 28px;
}

.name {
  width: 100%;
  max-width: 100%;

  span {
    display: inline-flex;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.position {
  white-space: nowrap;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 80px;

  @include baseLayout();
  z-index: 50;
}

.divider {
  height: 70px;
}

.indicator {
  padding: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  &.up {
    color: #00FF00;

    background: #00FF0026;
    border: 1px solid #FFFFFF1A;
    color: #00FF00;

    svg {
      color: #00FF00;
    }
  }

  &.equal {
    background: rgb(0 136 255 / 15%);
    border: 1px solid rgb(255 255 255 / 10%);
    color: #008CFF;

    svg {
      color: #008CFF;
      top: -1px;
      position: relative;
    }
  }

  &.down {
    background: rgb(255 0 0 / 15%);
    border: 1px solid rgb(255 255 255 / 10%);
    color: #ff0000;

    svg {
      color: #FF0000;
      transform: rotate(180deg);
    }
  }

  .icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-left: auto;
  }
}

