@import "@/styles/index.scss";

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include baseLayout();
  gap: 8px;
  padding: 0 12px;
  overflow: hidden;
  height: 100vh;
  padding-bottom: 60px;
}

.header {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
}

.container {
  width: 100%;
  overflow: auto;
  padding-bottom: 24px;
  padding-top: 16px;
}

.backBtn {
  width: 36px;
  height: 36px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0%, 100%));
  gap: 24px;

  &.inline {
    grid-template-columns: 1fr;
  }
}

.image {
  width: 100%;
  height: 170px;
  object-fit: scale-down;
  aspect-ratio: 1;
  border-radius: 12px;
  overflow: hidden;
}

.center, .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.bottom {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.score {
  font-size: 4cqw;
}

.label {
  color: #8A8A8A;
  text-transform: uppercase;
}

.grey {
  color: #8A8A8A;
}

.profile {
  gap: 4px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: auto;

  svg {
    width: 24px;
    height: 24px;
    color: #848586;
    transition: color 150ms linear;

    &:hover {
      color: #fff;
    }
  }
}


.box {
  height: auto !important;
  aspect-ratio: unset !important;
  
  > div {
    height: auto !important; 
  }

  &.purple {
    border: 1px solid #463659;

    h5 {
      color: #9B92A5;
    }
  }

  &.casts {
    > div {
      display: flex;
      gap: 12px;
    }
  }
}

.boxBody {
  padding-top: 28px;
}

.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 154px;
  overflow: hidden;
}

.position {
  white-space: nowrap;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 80px;

  @include baseLayout();
  z-index: 50;
}

.divider {
  height: 70px;
}