.layout {
  background: linear-gradient(180deg, #67577acd 0%, #563e7bd2 100%);
  backdrop-filter: blur(22px);
  box-shadow: 
    0px 3px 8px 0px #8D58ED2E,
    0px 14px 14px 0px #8D58ED29,
    0px 31px 19px 0px #8D58ED17,
    0px 55px 22px 0px #8D58ED08,
    0px 86px 24px 0px #8D58ED00;
  height: 58px;
  border-radius: 80px;

  position: relative;
  backdrop-filter: blur(22px);

  display: grid;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding: 0 12px;
}

.icon {
  display: flex;

  border: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  &.search {
    svg {
      stroke: #fff;
      width: 20px;
      height: 20px;
    }
  }
}

.user {
  display: flex;
  gap: 8px;
  color: #fff;
  justify-content: flex-end;
  flex: 1;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.add {
  background: #FFC3FF;
  box-shadow: 1.8px 1.86px 4px 0px #855DCD inset, 0px 1px 0px #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  svg path {
    fill: #855DCD;
  }
}