.layout {
  display: flex;
  border-radius: 36px;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
}

.primary {
  background: #FFFFFF;

  border: 1px solid;

  border-image-source: linear-gradient(0deg, #463659, #463659),
    linear-gradient(90deg, #FFFFFF 0%, #FF0000 33%, #0C00FF 66%, #00FF00 100%);
  
  svg {
    fill: #000000;
  }
}

.secondary {
  background-color: #FFC3FF;
  border: 1px solid #463659

  svg {
    fill: #4C2897;
  }
}

.outline {
  background-color: transparent;
  border: 1px solid #FFFFFF

  svg {
    fill: #fff;
  }
}

.solid {
  background-color: #222325;
  border: none;
  svg {
    fill: #fff;
  }
}