@import "@/styles/index.scss";

.body {
  display: grid;
  grid-template-columns: repeat(3, minmax(0%, 100%));
  gap: 8px;
  flex: 1;
  position: relative;
}

.column {
  &:nth-child(1) {
    padding-top: 40px;
  }

  &:nth-child(2) {
    padding-top: 8px;
  }

  &:nth-child(3) {
    padding-top: 80px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 52px;

  pointer-events: none;

  button {
    pointer-events: initial;
  }
}

.selector {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.list {
  height: 100%;
}