@import "@/styles/index.scss";

.backdrop {
  background-color: #080809b6;
  position: fixed;
  inset: 0;
  z-index: 400;
  backdrop-filter: blur(12px);
  overflow: hidden;
}

.container {
  position: absolute;
  background-color: #141414;
  border-bottom: 0;
  bottom: 0;
  border-radius: 16px 16px 0 0;
  left: 0;
  right: 0;

  @include baseLayout();

  height: 80%;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    height: 100vh;
    background-color: #141414;
    border-top: 0;
  }
}