@import "@/styles/index.scss";

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

.header {
  flex: 0;
  display: flex;
}

.scroll {
  display: flex;
  overflow: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0%, 100%));
  gap: 12px;
  width: 100%;
  height: fit-content;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 28px;

  pointer-events: none;

  button {
    pointer-events: initial;
  }
}

.loader {
  display: flex;
  padding: 32px 0;
  align-items: center;
  justify-content: center;
}

.empty {
  display: flex;
  flex-direction: column;
  flex: 0.99;

  p {
    display: flex;
    flex: 1;
    height: 100%;
  }
}