@import "./theme.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #272727;
  } 
}

html, body {
  color: #fff;
  background-color: #0A0B0D;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

a {
  color: #fff;

  &:visited {
    color: #fff;
  }
}