@import "./theme.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Geist-Regular', sans-serif;
}

html, body {
  color: #fff;
  background-color: $background-primary;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}