@import "@/styles/index.scss";

.item {
  width: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  display: flex;
  overflow: hidden;
  transition: all 200ms linear;
  position: relative;
  border-radius: 12px;
  border: 1px solid #2F2F2F;

  cursor: pointer;
  color: #fff;
  flex: 1;

  &.selected, &.disabled {
    padding: 2px;
    border: transparent;
    @keyframes gradientShift {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
    }

    .container {
      &:after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.effect {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(154.5deg, #FF9533 2.43%, #FF0000 26.41%, #0C00FF 74.37%, #00FF00 98.35%);
  -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #0A0B0D;
  padding: 12px;
  transition: all 200ms linear;
  border-radius: 13px;
  position: relative;
  z-index: 2;
  width: 100%;
  flex: 1;
  aspect-ratio: 1;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:after {
    transition: all 200ms ease-in;
    opacity: 0;
    content: "";
    position: absolute;
    background: linear-gradient(90.03deg, #FF9533 7.38%, #FF0000 35.51%, #0C00FF 63.64%, #00FF00 92.62%);
    z-index: 10;
    filter: blur(24px);
    left: 14%;
    right: 22%;
    top: 50%;
    bottom: 20%;
  }
}

.top {
  display: flex;
  flex: 1;

  img {
    border-radius: 100%;
  }
}


.score {
  display: flex;
  width: 14px;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin-left: auto;
  color: #fff;

  .equal {
    color: #008CFF;
  }
  
  .up {
    color: #00FF00;
  }
  
  .down {
    color: #FF0000;
    transform: rotate(180deg);
  }
}