@import "@/styles/index.scss";

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include baseLayout();
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 48px;
  gap: 32px;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 28px;
}

.logo {
  width: 114px;
  height: 28px;

  @include isDesktopL() {
    width: 164px;
    height: 40px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex: 0.4;
  align-items: flex-start;
}

.backBtn {
  > div:nth-child(1) {
    padding: 0;
  }
}

.howToScore {
  padding: 0;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 8px;
}

.backBtn {
  width: 36px;
  height: 36px;
}