@import "@/styles/index.scss";

.layout {
  background-color: #FFFFFF1A;
  border: 1px solid #2F2F2F;
  border-radius: 12px;
  padding: 16px;
  
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title, .header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.header {
  gap: 8px;
}

.avatar {
  border-radius: 40px;
}

.image {
  width: 100%;
  object-fit: contain;
  margin-top: 8px;
}

.body {
  p {
    word-wrap: break-word;
  }
}

.external {
  color: #8A8A8A;
  margin-left: auto;
  position: relative;
  top: -12px;
}