@import "@/styles/index.scss";


.body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 634px;
  padding: 62px 14px;
  align-items: center;
}

.logo {
  width: 114px;
  height: 28px;
  
  margin-bottom: 76px;

  @include isDesktopL() {
    width: 164px;
    height: 40px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;

  position: relative;
  z-index: 4;
}

.brand {
  width: 100%;
  height: 77.51px;
  
  @include isDesktopL() {
    width: 100%;
    height: 138px;
  }
}



.field {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  justify-content: center;
  flex: 1;
}

.title {
  background-clip: text;
  color: transparent;
  background: linear-gradient(90deg, #FF9533 0%, #FFE835 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
