@import "@/styles/index.scss";

.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 240px);
  overflow: hidden;
}

.list {
  padding-bottom: 42px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}